.product {
    border: 5px solid orange;    
    display: flex;
    flex-direction: column;
    max-width: 300px;
    
    .product__image-container {
        height: fit-content;

        .product__image {
            width: 100%;
        }
    }

    .product__text {
        width: 100%;
        padding: 10px;
        background-color: rgb(75, 75, 75);
        .product__title,
        .product__description {
            color: rgb(200, 200, 200);
        }
        .product__title {
        }

        .product__button-container {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 5px;

            .product__toCart {

            }

            .product__input {
                width: 50px;
            }
        }
    }
}

