@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
.navbar {
  position: fixed;
  width: 100%;
  height: 75px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: rgb(200, 200, 200);
  transition: background-color 0.8s ease;
  
  .navbar__list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px 20px;
    margin: 0;
  
    .navbar__list-item {
      padding: 18px 14px;
      cursor: pointer;
    
      &:hover {
        color: white;
        border-bottom: 1px solid orange;
      }

      &:first-child {
        margin-right: auto;
      }
  
      &:last-child {
        margin-left: auto;
        border: 1px solid white;        

        &:hover {
          background-color: rgba(255, 166, 0, 0.7);
        }
      }
    }
  }

  .hamburger-menu {
    display: none;


  }
}

.navbar--shade {
  background-color: rgb(136, 108, 57);
  box-shadow: 0px 6px 10px black;
  z-index: 10;
}

@media screen and (max-width: 1200px) {
  .navbar {
    display: flex;
    justify-content: space-between;

    .navbar__shop,
    .navbar__about,
    .navbar__contact,
    .navbar__login {
      display: none;
    }

    .hamburger-menu {
      height: 100%;
      padding: 20px;
      display: flex;
      flex-direction: column;      
      justify-content: space-around;
      align-items: flex-end;

      .hamburger-menu__bar {
        width: 40px;
        height: 6px;
        background-color: rgb(200, 200, 200);
        border-radius: 50px;
      }
    }
  }
}