@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Pacifico&display=swap');

.main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    position: relative;
    padding: 3% 10%;
    align-items: flex-start;
    justify-content: center;
    background-color: rgb(255, 255, 234);

    .bee {
        width: 20%;
        min-width: 70px;
        height: auto;
        position: absolute;
    }

    .flower {
        width: 8%;
        min-width: 45px;
        height: auto;
        position: absolute;        
    }

    .text-container,
    .img-container {
        position: relative;
        width: 50%;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;


        .main-title {
            font-family: Pacifico, 'Open Sans';
            font-size: 80px;
            font-weight: 600;
            margin-bottom: 5%;
            display: flex;
            flex-direction: column;
        }

        .sub-title {
            display: flex;
            font-size: 25px;
            font-weight: 800;
        }

        p {
            font-size: 20px;
            margin: 5% 0;
        }

        .bee1 {
            min-width: 100px;
            top: 2%;
            right: 0;
        }

        .bee3 {
            min-width: 100px;
            bottom: 5%;
            right: 0%;
            width: 25%;
            transform: scaleX(-1);
        }

        .flower1 {
            position: relative;
            margin-top: 20px;
        }


        .button {
            background-color: rgb(231, 218, 142);
            color: black;
            border: none;
            padding: 20px;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            cursor: pointer;

            &:hover {
                background-color: rgb(195, 180, 90);
            }
        }
    }

    .img-container {

        .honey {
            width: 100%;
            height: auto;
        }

        .bee4 {
            bottom: 10%;
            right: 15%;
        }
    
        .bee5 {
            top: 10%;
            right: 0%;
        }

        .flower2 {
            width: 8%;
            height: auto;
            bottom: 25%;
            right: 0px;
            transform: rotate(25deg);
        }

        .flower3 {
            bottom: 10%;
            left: 0%;
            transform: rotate(350deg);
        }
    }
}

@media screen and (max-width: 1023px) {
    .main {
        align-items: center;

        .text-container,
        .img-container {
            width: 100%;
        }

        .text-container{

            .main-title{
                font-size: 70px;
            }

            .sub-title {
                font-size: 22px;
            }

            p {
                font-size: 19px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
  
        .text-container{

            .main-title {
                font-size: 55px;
                margin-bottom: 25px;
            }
        
            .sub-title {
                font-size: 20px;
            }
        
            p {                
                margin: 25px 0px;
                font-size: 18px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .main { 
        .text-container,
        .img-container {
            width: 100%;
        }

        .text-container{

            .main-title {
                font-size: 32px;
            }
        
            .sub-title {
                font-size: 17px;
            }
        
            p {
                font-size: 16px;
            }
        }
    }    
}
