@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Waterfall&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pushster&display=swap');
.main {

  .main__header {
    padding: 60px 40px;
    background: url("https://wallpaperaccess.com/full/1585697.jpg") no-repeat right center;
    background-size: cover;
    background-color: rgba(0,0,0,0.6);
    background-blend-mode: multiply;
    height: 100vh;   

    .main__header__title {
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      letter-spacing: calc(2vw + 20px);
      font-size: calc(3vw + 25px);
      color: white;
      position: relative;
      top: 50%;
      transform: translateY(-50%);  
      border: 3px solid white;
      width: fit-content;  
      
      .main__header__title__first-letter {
        color: orange;
        background-color: black;
      }
    }
  }
}